@import "./mixins.scss";

.container_page {
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;

	@include respond-to(sm) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container_content {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.button_nostyle {
	border: none;
	background-color: transparent;
}


h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: var(--primary_text);
	font-size: 2.5rem;
}

h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6rem;
	color: var(--primary_text);

	@include respond-to(sm) {
		font-size: 1.8rem;
	}

	@include respond-to(md) {
		font-size: 2rem;
	}

}

p {
	font-size: .8rem;
	text-indent: 2rem;
	color: var(--primary_text);

	@include respond-to(sm) {
		font-size: .9rem;
		text-indent: 2.5rem;
	}

	@include respond-to(md) {
		font-size: 1rem;
		text-indent: 3rem;
	}

}

span {
	font-size: 1rem;
	color: var(--primary_text);
}

button, .button {
	color: var(--primary_text);
}

section {
	min-height: 750px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&:nth-of-type(1) {
		// margin-top: -80px;
		padding-top: 80px;
		background: linear-gradient(rgba(var(--primary_color_RGB), 50%), rgba(var(--primary_color_RGB), 10%));
	}

	&.section_text {
		display: none;
	}
}

section:only-child {
	min-height: 100%;
 }
