@import "./mixins.scss";

.container_page {
	width: 100%;
	padding-left: $padding;
	padding-right: $padding;

	@include respond-to(xs) {
		padding-left: $padding_xs;
		padding-right: $padding_xs;
	}

	@include respond-to(sm) {
		padding-left: $padding_sm;
		padding-right: $padding_sm;
	}

	@include respond-to(md) {
		padding-left: $padding_md;
		padding-right: $padding_md;
	}
}

.container_content {
	max-width: calc($container_width + $padding_md);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.button_nostyle {
	border: none;
	background-color: transparent;
}

.button_square {
	background-color: var(--primary_color);
	border-radius: 5px;
	padding: 8px 25px;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.10);
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
	color: var(--text_reverse);

	@include respond-to(sm) {
		font-size: 24px;
	}
}


  

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4.5rem;
	font-size: 1.5rem;
	color: var(--primary_text);
	font-weight: 700;
	
	@include respond-to(sm) {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	
	@include respond-to(md) {
		font-size: 2.5rem;
		margin-bottom: 4.5rem;
	}
}

h2 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
	color: var(--primary_text);
	font-weight: 700;
	
	@include respond-to(sm) {
		font-size: 1.5rem;
		margin-top: 2.2rem;
		margin-bottom: 1.4rem;
	}
	
	@include respond-to(md) {
		font-size: 1.75rem;
		margin-top: 2.7rem;
		margin-bottom: 1.65rem;
	}

	@include respond-to(lg) {
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 1.75rem;
	}
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 0;
	margin-top: 1.3rem;
	color: var(--primary_text);
	font-weight: 700;

	@include respond-to(sm) {
		font-size: 1.3rem;
		margin-top: 1.5rem;
		margin-bottom: .8rem;
	}

	@include respond-to(md) {
		font-size: 1.65rem;
		margin-top: 1.8rem;
		margin-bottom: 1rem;
	}
}


h4 {
	font-size: 1rem;
	margin-bottom: .7rem;
	margin-top: 1.2rem;
	color: var(--primary_text);
	font-weight: 700;

	@include respond-to(sm) {
		font-size: 1.1rem;
		margin-top: 1.3rem;
		margin-bottom: .9rem;
	}

	@include respond-to(md) {
		font-size: 1.4rem;
		margin-top: 1.4rem;
		margin-bottom: .7rem;
	}
}


p {
	font-size: .875rem;
	color: var(--primary_text);
	margin-top: .5rem;

	@include respond-to(sm) {
		font-size: 1rem;
		margin-top: .65rem;
	}

	@include respond-to(md) {
		font-size: 1.125rem;
		margin-top: .72rem;
	}

	@include respond-to(lg) {
		font-size: 1.25rem;
		margin-top: .8rem;
	}

}

span {
	font-size: 1rem;
	color: var(--primary_text);
}

button, .button {
	color: var(--primary_text);
}


ol, ul {
	list-style-position: outside; 
	margin-left: 1rem;
	font-size: .875rem;
	color: var(--primary_text);
	margin-top: .65rem;

	@include respond-to(sm) {
		font-size: 1rem;
		margin-left: 1.125rem;
		margin-top: .8rem;
	}

	@include respond-to(md) {
		margin-left: 1.5rem;
		font-size: 1.25rem;
		margin-top: 1rem;
	}

	li {
		margin-top: .2rem;

		@include respond-to(sm) {
			margin-top: .3rem;
		}
	
		@include respond-to(md) {
			margin-top: .5rem;
		}

		& > em {
			font-weight: 700;
			font-style: normal;
		}
	}
}


ol {
	list-style-type: decimal;

	&.ol_letters {
		list-style-type: lower-latin;
	}
}

ul {
	list-style-type: disc;
}



section {
	min-height: min(80vh, 350px);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	


	& .section__content {
		padding-bottom: 50px;
		padding-top: 50px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&:nth-of-type(1) {
		padding-top: 80px;
		background: linear-gradient(var(--section_1_start), var(--section_1_end));

		.section__content {
			padding-top: 20px;

			@include respond-to(sm) {
				padding-top: 30px;
			}

			@include respond-to(md) {
				padding-top: 40px;
			}
		}

	}


	&:nth-last-of-type(1) {
		padding-bottom: 100px;
	}
}

section:only-child {
	min-height: 100%;
 }
