@import "./mixins.scss";

.container_page {
	width: 100%;
	padding-left: 14px;
	padding-right: 14px;

	@include respond-to(xs) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@include respond-to(sm) {
		padding-left: 24px;
		padding-right: 24px;
	}

	@include respond-to(md) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.container_content {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


.button_nostyle {
	border: none;
	background-color: transparent;
}


// h1 {
// 	text-align: center;
// 	margin-left: auto;
// 	margin-right: auto;
// 	color: var(--primary_text);
// 	font-size: 2.5rem;
// }

h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4.5rem;
	font-size: 1.5rem;
	color: var(--primary_text);
	font-weight: 700;
	// line-height: 1.8rem;
	
	@include respond-to(sm) {
		font-size: 2rem;
		margin-bottom: 2rem;
		// line-height: 2.375rem;
	}
	
	@include respond-to(md) {
		font-size: 2.5rem;
		margin-bottom: 4.5rem;
		// line-height: 3rem;
	}
}

h2 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
	color: var(--primary_text);
	font-weight: 700;
	// line-height: 1.5rem;
	
	@include respond-to(sm) {
		font-size: 1.5rem;
		margin-top: 2.2rem;
		margin-bottom: 1.4rem;
		// line-height: 1.8rem;
	}
	
	@include respond-to(md) {
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 1.75rem;
		// line-height: 2.4rem;
	}
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 0;
	margin-top: 1.3rem;
	color: var(--primary_text);
	font-weight: 700;

	@include respond-to(sm) {
		font-size: 1.3rem;
		margin-top: 1.5rem;
		margin-bottom: .8rem;
	}

	@include respond-to(md) {
		font-size: 1.65rem;
		margin-top: 1.8rem;
		margin-bottom: 1rem;
	}
}


h4 {
	font-size: 1rem;
	margin-bottom: .7rem;
	margin-top: 1.2rem;
	color: var(--primary_text);
	font-weight: 700;

	@include respond-to(sm) {
		font-size: 1.1rem;
		margin-top: 1.3rem;
		margin-bottom: .9rem;
	}

	@include respond-to(md) {
		font-size: 1.4rem;
		margin-top: 1.4rem;
		margin-bottom: .7rem;
	}
}


p {
	font-size: .875rem;
	//text-indent: 2rem;
	color: var(--primary_text);
	//text-align: justify;
	// line-height: 1.05rem;
	margin-top: .5rem;

	@include respond-to(sm) {
		font-size: 1rem;
		//text-indent: 2.5rem;
		// line-height: 1.2rem;
		margin-top: .65rem;
	}

	@include respond-to(md) {
		font-size: 1.25rem;
		// line-height: 1.5rem;
		//text-indent: 3rem;
		margin-top: .8rem;
	}

}

span {
	font-size: 1rem;
	color: var(--primary_text);
}

button, .button {
	color: var(--primary_text);
}


ol, ul {
	// padding-left:0; 
	list-style-position: outside; 
	margin-left: 1rem;
	font-size: .875rem;
	color: var(--primary_text);
	//text-align: justify;
	// line-height: 1.05rem;
	margin-top: .65rem;

	@include respond-to(sm) {
		font-size: 1rem;
		margin-left: 1.125rem;
		//text-indent: 2.5rem;
		// line-height: 1.2rem;
		margin-top: .8rem;
	}

	@include respond-to(md) {
		margin-left: 1.5rem;
		font-size: 1.25rem;
		// line-height: 1.5rem;
		//text-indent: 3rem;
		margin-top: 1rem;
	}

	li {
		margin-top: .2rem;

		@include respond-to(sm) {
			margin-top: .3rem;
		}
	
		@include respond-to(md) {
			margin-top: .5rem;
		}

		& > em {
			font-weight: 700;
			font-style: normal;
		}
	}
}


ol {
	list-style-type: decimal;

	&.ol_letters {
		list-style-type: lower-latin;
	}
}

ul {
	list-style-type: disc;
}








section {
	min-height: 750px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&:nth-of-type(1) {
		// margin-top: -80px;
		padding-top: 80px;
		background: linear-gradient(var(--section_1_start), var(--section_1_end));
	}

	& .section__content {
		//padding-top: 50px;
		padding-bottom: 100px;

		// h2 {
		// 	margin-bottom: 1.6rem;
		
		// 	@include respond-to(sm) {
		// 		margin-bottom: 1.8rem;
		// 	}
		
		// 	@include respond-to(md) {
		// 		margin-bottom: 2rem;
		// 	}
		// }

		// h3 {
		// 	margin-top: 1.6rem;
		
		// 	@include respond-to(sm) {
		// 		margin-top: 1.8rem;
		// 	}
		
		// 	@include respond-to(md) {
		// 		margin-top: 2rem;
		// 	}
		// }
		
		// h4 {
		// 	margin-top: 1.4rem;
		
		// 	@include respond-to(sm) {
		// 		margin-top: 1.5rem;
		// 	}
		
		// 	@include respond-to(md) {
		// 		margin-top: 1.6rem;
		// 	}
		// }

		// h5 {
		// 	margin-top: 1.3rem;
		
		// 	@include respond-to(sm) {
		// 		margin-top: 1.4rem;
		// 	}
		
		// 	@include respond-to(md) {
		// 		margin-top: 1.5rem;
		// 	}
		// }
	
		// p {
		// 	//margin-top: 1rem;
		// 	font-size: 14px;

		// 	@include respond-to(sm) {
		// 		font-style: 16px;
		// 	}
		
		// 	@include respond-to(md) {
		// 		font-size: 20px;
		// 	}
		// }

		&.section_text {
			margin-top: 50px;
			margin-bottom: auto;

			@include respond-to(sm) {
				margin-top: 60px;
			}

			@include respond-to(md) {
				margin-top: 80px;
			}
		}

	}


}

section:only-child {
	min-height: 100%;
 }
