@tailwind base;
@tailwind components;
@tailwind utilities;


@import './fonts.scss';
@import './mixins.scss';
@import './components.scss';



* {
	transition: color $transition_theme, background-color $transition_theme;
	font-family: 'Inter', Arial;
	scroll-behavior: smooth;
}


body {
	background-color: var(--primary_bg);
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
