$xxl: 1536px;
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 640px;
$xs: 480px;

$container_width: 1140px;

$black: #000;
$white: #FFF;

$transition_nav: .5s;
$transition_base: 1s;
$transition_fast: .3s;
$transition_theme: 1s;
$transition_lang: .5s;
$transition_modal: .5s;



body {
	--primary_bg: #DDD;
	--primary_color: #1b9952;
	--primary_color_RGB: 27, 153, 82;
	--primary_text: #000;
	--text: #000;
	--text_reverse: #FFF;

	--section_1_start: rgba(27, 153, 82, 50%);
	--section_1_end: rgba(27, 153, 82, 10%);

	--section_2: rgba(4, 187, 246, 33%);
	--section_3: rgba(246, 4, 236, 33%);
	--section_4: rgba(246, 236, 4, 33%);
	--section_5: rgba(246, 4, 4, 33%);
	--section_6: rgba(255, 255, 255, 50%);

	--footer_bg: #000;

	--nav: #000;
	--nav_selected: #000;


	--lang_text: #EEE;
	--lang_text_hover: #222;
	--lang_text_selected: #222;
	--lang_bg: #666;
	--lang_bg_hover: #DDD;
	--lang_bg_selected: #FFF;

	--modal_bg: rgba(34, 34, 34, 0.95);
	--modal_closer: #979797;
	--modal_closer_hover: #FFF;
}


body.dark {
	--primary_bg: #333;
	--primary_color: #006bcf;
	--text: #EEE;


	--lang_text: #EEE;
	--lang_text_hover: #222;
	--lang_text_selected: #222;
	--lang_bg: #666;
	--lang_bg_hover: #DDD;
	--lang_bg_selected: #FFF;
}