@use "../../assets/css/mixins.scss" as *;

.modal-window {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 6000;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	transition: $transition_modal;
	background-color: var(--modal_bg);
	opacity: 0;

	& > .closer {
		background-color: transparent;
		border: none;
		position: absolute;
		right: 30px;
		top: 30px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		stroke: var(--modal_closer);
		transition: $transition_modal;

		&:hover {
			stroke: var(--modal_closer_hover);
			scale: 1.2;
		}
	}

	& .modal__content {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scale(0);
		transition: $transition_modal;
	}

	&_absence {
		position: fixed;
	}

	&.visible {
		visibility: visible;
		opacity: 1;

		& > .modal__content {
			transform: none;
		}
	}
}
