@import '../../assets/css/variables.scss' ;

.preloader {
    border: 10px solid var(--primary_color);
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right-color: transparent;
    border-left-color: transparent;
    animation: spiner 1s linear infinite;
}

@keyframes spiner {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}