@import "../../assets/css/variables.scss" ;
@import "../../assets/css/mixins.scss";


.homer {
    width: 30px;
    height: 30px;
    border: 1px solid $black;
    background-color: #FFF;
    position: fixed;
    bottom: 10%;
    right: 0px;
    transform: translateX(100%) rotate(180deg);
    transition: transform $transition_fast;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    opacity: .7;
    box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.5);

    @include respond-to(xs) {
        width: 40px;
        height: 40px;
    }

    @include respond-to(md) {
        width: 45px;
        height: 45px;
    }

    @include respond-to(lg) {
        width: 50px;
        height: 50px;
    }

    &.scrolled {
        transform: translateX(-20%) rotate(180deg);
        transition: transform $transition_fast;
    }

    svg {
        height: 70%;
        width: 70%;
    }
}