@import "../../../assets/css/mixins.scss";

section.section_markets{
	background: linear-gradient(var(--section_1_start), var(--section_1_end));

	.section_markets__header.section_markets__header {
		text-align: center;
		align-self: center;	
		font-size: 2rem;
		color: var(--primary_text);
		font-weight: 700;
		padding-left: 40px;
		padding-right: 40px;
		
		@include respond-to(sm) {
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}
		
		@include respond-to(md) {
			font-size: 2.5rem;
			margin-bottom: 4.5rem;
		}

		@include respond-to(lg) {
			display: none;
		}
	}
}
